<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/about.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
<img src="../static/css/girl.png">
<p>Hi I'm Stephanie.</p>
<p>I bake too much, watch way more hours of Food Network programming than I care to admit publicly, I stay up too late and eat way too much sugar.</p>
<p>My undying love for baking and cats led to the birth of this blog,<b> "A Cat and Mousse Game"</b></p>
<p>I'm hopelessly addicted to sprinkles, buttercream, and makeup tutorials on YouTube.</p>
<p>I hope you find my blog inviting, fun and full of deliciously addictive cakes and other desserts. A perfect treat to the sweet tooth. </p>
<p>Do you have specific questions or want to get in touch? <a href="contact.html" target="_blank" rel="noopener">Contact me via email</a>.</p>
</div>
</body>
</html>