<!Doctype html>
<html>
<head>	
<title>Cat_and_Mousse_Game_home_page</title>
<link href="C:\Users\Michelle\Web-mini-project\static\css\home.css" rel="stylesheet" type="text/css">

</head>
	  
<body>	
<ul>
	<li><a href= "#contact_us">Contact Us</a></li>
	<li><a href= "#order">Order Now</a></li>
	<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Menu</a>
    <div class="dropdown-content">
      <a href="#">Cup Cakes</a>
      <a href="#">Cookies</a>
      <a href="#">Cakes and Pasteries</a>
	  <a href="#">Other Stuff :)</a>
    </div>
    </li>
	<li><a href= "#about">About</a></li>
	<li><a class="active" href= "#home">Home</a></li>	
</ul>

  
</body>

</html>