<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/menu.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="parallax1"></div>

<h1 align="center">MENU</h2>
<div id='cookies'>
<a name='cookies'></a>
<br>
<h2 align="center">Cookies</h2>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 1</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 2</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 3</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
</div>
  
<div class="parallax2"></div>
<div id='cakes'><a name='cakes'></a> 
  <br>
  <h2 align="center">Cakes & Pastries</h2>
  <br>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 1</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 2</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 3</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
</div>  
<div class="parallax3"></div>
  
  <br>
  <h2 align="center">Recipes</h2>
  <br>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 1</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 2</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/css/try1.jpg" alt="Item_Name" style="width:100%">
      <div class="container">
        <h2>Item 3	</h2>
        <p class="title">Item_Type</p>
        <p>Description.<br>blah blah blah</p>
        <p><button class="button">Add to Cart</button></p>
      </div>
    </div>
  </div>

</body>
</html>
